# Jose specific, might apply to you, might not, please do not change this section without asking
env/
__pycache__/
PrePro/input/
PrePro/output


# Lennard specific
test/
PrePro/precropped/
imgs/
*.png
*.tif
data.csv
result.csv
result/